.timer-container {
  display: block;
  word-wrap: break-word;
}

.background-image {
  height: 255px;
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  box-shadow: 5px 5px 5px 5px #888888;
  position: relative;
}

.text-container {
  height: 255px;
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  top: -255px;
  margin-bottom: -255px;
}

.text-container h4 {
  font-style: oblique;
}

.text-container h2,
.text-container h3,
.text-container h4 {
  background: linear-gradient(
    to right,
    rgba(229, 221, 218, 0) 0%,
    rgba(229, 221, 218, 0.6) 10%,
    rgba(229, 221, 218, 0.6) 90%,
    rgba(229, 221, 218, 0) 100%
  );
  margin: 10px 10px 10px 10px;
  position: relative;
  left: 5%;
}

.text-container-button {
  position: relative;
  opacity: 0;
}
.text-container-button button {
  margin: 2px;
}
.text-container:hover .text-container-button {
  opacity: 1;
}

.zoom:hover .background-image {
  box-shadow: 5px 5px 5px 5px transparent;
  /* transform: scale(1.03); */
  opacity: 0.5;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px black;
}

.zoom:hover h2,
.zoom:hover h3,
.zoom:hover h4 {
  background: none;
  font-weight: bold;
}

.editor-container {
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  box-shadow: 5px 5px 5px 5px #888888;
}
.editor-background {
  overflow: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
}

.editor-container h2 {
  background: linear-gradient(
    to right,
    rgba(229, 221, 218, 0) 0%,
    rgba(229, 221, 218, 0.6) 10%,
    rgba(229, 221, 218, 0.6) 90%,
    rgba(229, 221, 218, 0) 100%
  );
  margin: 10px 10px 10px 10px;
  position: relative;
  left: 5%;
}

.passedEvent {
  background-color: rgba(236, 132, 132, 0.5);
}

.passedEvent h2,
.passedEvent h3,
.passedEvent h4 {
  background: linear-gradient(
    to right,
    rgba(236, 132, 132, 0) 0%,
    rgba(236, 132, 132, 0.6) 10%,
    rgba(236, 132, 132, 0.6) 90%,
    rgba(236, 132, 132, 0) 100%
  );
}

.shadowy {
  box-shadow: 5px 5px 5px 5px #888888;
}
.shadowy:hover {
  box-shadow: 2px 2px 2px 2px #6b6b6b;
  /* transform: scale(1.03); */
}

.shadowy h2 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  background: linear-gradient(
    to right,
    rgba(229, 221, 218, 0) 0%,
    rgba(229, 221, 218, 0.6) 40%,
    rgba(229, 221, 218, 0.6) 60%,
    rgba(229, 221, 218, 0) 100%
  );
}

.bottom-filler {
  height: 250px;
  position: relative;
  top: -20px;
  position: relative;
}
